.navigation {
  padding: 0.1px 0.1px;
}
.navigation__main-container {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navigation__main-container--links-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navigation__main-container--links-container__link {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
}
.navigation__main-container--btn-container {
  width: 10%;
}
.navigation__main-container--btn-container__btn {
  border-radius: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f25f3a;
  color: white;
  box-shadow: 4px 6px 4px -2px rgba(0, 0, 0, 0.507);
  cursor: pointer;
}

.home-page {
  background-image: url("../../../asset/home/home-bg.svg");
  background-repeat: no-repeat;
  background-position-x: 55em;
  background-position-y: -10em;
  background-size: 55%;
}

.hero-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px;
  margin-top: 5em;
}
.hero-card__title-section {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 33em;
}
.hero-card__title-section--title {
  font-size: 3.5rem;
  width: 78%;
  text-align: left;
}
.hero-card__title-section--sub {
  width: 78%;
  font-size: 1.9rem;
  color: rgba(0, 0, 0, 0.404);
}
.hero-card__title-section--btn-section {
  width: 78%;
}
.hero-card__title-section--btn-section__btn {
  width: 35%;
  border-radius: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f25f3a;
  color: white;
  box-shadow: 4px 6px 4px -2px rgba(242, 95, 58, 0.568);
  cursor: pointer;
}
.hero-card__img-section {
  width: 49%;
  text-align: center;
}

.primary-content {
  margin-top: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  background-image: url("../../../asset/home/home-bg.svg");
  background-repeat: no-repeat;
  background-position-y: 20em;
  background-position-x: -35em;
  background-size: 55%;
}
.primary-content__question-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.primary-content__question-section--title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
.primary-content__question-section--sub {
  font-size: 1.2rem;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.404);
}
.primary-content__answer-section {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20em;
  height: 100%;
}
.primary-content__answer-section--values {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 2em;
}
.primary-content__answer-section--values__number-box {
  width: 10%;
  text-align: center;
  border-radius: 20px;
  font-size: 1.2rem;
  background-color: #f25f3a;
  color: white;
  font-weight: 700;
  margin-top: 0.3em;
}
.primary-content__answer-section--values__number-box--number {
  margin: 0.3em 0;
}
.primary-content__answer-section--values__details-section {
  width: 75%;
}
.primary-content__answer-section--values__details-section--title {
  font-size: 1.6rem;
  margin-bottom: 0.4em;
  font-weight: 700;
}
.primary-content__answer-section--values__details-section--sub {
  font-size: 1.3rem;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.404);
}

.call-to-action {
  box-sizing: border-box;
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f25f3a;
  background-image: url("../../../asset/images/bg-simplify-section-desktop.svg");
  height: 13em;
  background-position-y: 50%;
  background-position-x: 0em;
}
.call-to-action__title-box {
  width: 60%;
}
.call-to-action__title-box--title {
  margin: 0 auto;
  text-align: left;
  font-size: 2.5rem;
  width: 60%;
  color: white;
}
.call-to-action__btn-box {
  width: 27%;
}
.call-to-action__btn-box--cta-btn {
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 30%;
  padding: 9px 9px;
  margin-left: auto;
  background-color: white;
  color: #f25f3a;
  font-weight: 700;
  box-shadow: 4px 5px 2px -2px rgba(255, 255, 255, 0.404);
  cursor: pointer;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 16.25px;
  font-family: Be Vietnam;
}

.btn {
  width: 100%;
  border-radius: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f25f3a;
  color: white;
  box-shadow: 4px 6px 4px -2px rgba(242, 95, 58, 0.568);
  cursor: pointer;
}

.testimonial {
  margin-top: -12em;
}
.testimonial__title {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2em;
}
.testimonial__mySwiper--swiperBox__details {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
}
.testimonial__mySwiper--swiperBox__details--avatar-box {
  text-align: center;
}
.testimonial__mySwiper--swiperBox__details--name-box {
  text-align: center;
  margin-top: 0.55em;
}
.testimonial__mySwiper--swiperBox__details--review-box {
  text-align: center;
  width: 75%;
  margin: 0.55em auto;
  color: rgba(0, 0, 0, 0.781);
}
.testimonial__getStarted-btn {
  width: 15%;
  margin: 4em auto;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 30px;
  box-sizing: border-box;
  height: 14em;
}
.footer__icons-box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__icons-box--logo-box {
  margin-bottom: 1.5em;
}
.footer__icons-box--socialMedia-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__links-box-one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__links-box-one--link {
  text-decoration: none;
  color: white;
}
.footer__links-box-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__links-box-two--link {
  text-decoration: none;
  color: white;
}
.footer__subscriptions-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 18%;
}
.footer__subscriptions-box--btn-box__btn {
  background-color: #f25f3a;
  border-radius: 20px;
  width: 100%;
  padding: 5px 5px;
  color: white;
  font-weight: 600;
}

input[type=text] {
  padding: 5px 5px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .navigation__main-container {
    margin: 0;
    padding: 10px 10px;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .hero-card {
    margin: 0;
    flex-direction: column-reverse;
  }
  .hero-card__img-section {
    width: 100%;
  }
  .hero-card__img-section--img {
    width: 100%;
  }
  .hero-card__title-section {
    width: 100%;
  }
  .hero-card__title-section--title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-weight: 800;
  }
  .hero-card__title-section--sub {
    font-size: 1.4rem;
    text-align: center;
    color: black;
    margin: 0 auto;
    margin-top: -1em;
    width: 90%;
  }
  .hero-card__title-section--btn-section {
    width: 100%;
    text-align: center;
    margin-top: -1em;
  }
  .hero-card__title-section--btn-section__btn {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .hero-card {
    margin: 0;
    flex-direction: column-reverse;
  }
  .hero-card__img-section {
    width: 100%;
  }
  .hero-card__img-section--img {
    width: 100%;
  }
  .hero-card__title-section {
    width: 100%;
  }
  .hero-card__title-section--title {
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
    font-weight: 800;
  }
  .hero-card__title-section--sub {
    font-size: 1.3rem;
    text-align: center;
    color: black;
    margin: 0 auto;
    margin-top: -1em;
    width: 90%;
  }
  .hero-card__title-section--btn-section {
    width: 100%;
    text-align: center;
    margin-top: -1em;
  }
  .hero-card__title-section--btn-section__btn {
    margin: 0 auto;
    font-weight: 800;
  }
}
@media (max-width: 600px) {
  .primary-content {
    margin: 0;
    flex-direction: column;
  }
  .primary-content__question-section {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .primary-content__answer-section {
    width: 100%;
  }
  .primary-content__answer-section--values {
    margin-top: 5em;
  }
  .primary-content__answer-section--values__number-box {
    padding: 5px 5px;
    width: 14%;
    display: none;
  }
  .primary-content__answer-section--values__details-section--title {
    font-size: 1.3rem;
    background-color: #fff0ec;
    padding: 5px 5px;
    text-align: center;
  }
  .primary-content__answer-section--values__details-section--sub {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .primary-content {
    flex-direction: column;
  }
  .primary-content__question-section {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .primary-content__question-section--sub {
    color: rgba(0, 0, 0, 0.705);
    font-weight: 500;
  }
  .primary-content__answer-section {
    width: 100%;
    box-sizing: border-box;
  }
  .primary-content__answer-section--values {
    margin-top: 3em;
  }
  .primary-content__answer-section--values__number-box {
    padding: 5px 5px;
    width: 14%;
    display: none;
  }
  .primary-content__answer-section--values__details-section {
    width: 90%;
  }
  .primary-content__answer-section--values__details-section--title {
    font-size: 1.3rem;
    background-color: #fff0ec;
    padding: 5px 5px;
    text-align: center;
    margin-bottom: 1em;
  }
  .primary-content__answer-section--values__details-section--sub {
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .call-to-action {
    height: 27em;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url("../../../asset/images/bg-simplify-section-mobile.svg");
    border: solid 2px red;
  }
  .call-to-action__title-box {
    width: 100%;
    margin: 0 auto;
    margin-top: 4em;
  }
  .call-to-action__title-box--title {
    text-align: center;
    font-weight: 700;
    font-size: 2.7rem;
    margin-bottom: 1.5em;
  }
  .call-to-action__btn-box {
    width: 100%;
  }
  .call-to-action__btn-box--cta-btn {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .call-to-action {
    height: 24em;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url("../../../asset/images/bg-simplify-section-mobile.svg");
  }
  .call-to-action__title-box {
    width: 100%;
    margin: 0 auto;
    margin-top: 4em;
  }
  .call-to-action__title-box--title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5em;
  }
  .call-to-action__btn-box {
    width: 100%;
  }
  .call-to-action__btn-box--cta-btn {
    width: 40%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .home-page {
    background-image: url("../../../asset/home/home-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -2em;
    background-position-x: 5em;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    height: 25em;
  }
}
@media (max-width: 600px) {
  .testimonial__getStarted-btn {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .testimonial__title {
    font-size: 2rem;
  }
  .testimonial__getStarted-btn {
    width: 35%;
  }
}

/*# sourceMappingURL=main.css.map */
