.btn {
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: hsl(12, 88%, 59%);
    color: white;
    box-shadow: 4px 6px 4px -2px hsla(12, 88%, 59%, 0.568);
    cursor: pointer;
}