.testimonial {
  margin-top: -12em;

  &__title {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2em;
  }
  &__mySwiper {
    &--swiperBox {
      &__details {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;

        &--avatar-box {
          text-align: center;
        }

        &--name-box {
          text-align: center;
          margin-top: 0.55em;
        }

        &--review-box {
          text-align: center;
          width: 75%;
          margin: 0.55em auto;
          color: rgba(0, 0, 0, 0.548);

        }
      }
    }
  }

  &__getStarted-btn {
      width: 15%;
      margin: 4em auto;
  }
}
