.call-to-action {
    box-sizing: border-box;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(12, 88%, 59%);
    background-image: url('../../../asset/images/bg-simplify-section-desktop.svg');
    height: 13em;
    background-position-y: 50%;
    background-position-x: 0em;

    &__title-box {
        width: 60%;

        &--title {
            margin: 0 auto;
            text-align: left;
            font-size: 2.5rem;
            width: 60%;
            color: white;
        }
    }

    &__btn-box {
        width: 27%;

        &--cta-btn {

            border-radius: 20px;
            text-align: center;
            box-sizing: border-box;
            width: 30%;
            padding: 9px 9px;
            margin-left: auto;
            background-color: white;
            color: hsl(12, 88%, 59%);
            font-weight: 700;
            box-shadow: 4px 5px 2px -2px rgba(255, 255, 255, 0.404);
            cursor: pointer;

        }

    }
}