
.home-page {
    background-image: url('../../../asset/home/home-bg.svg');
    background-repeat: no-repeat;
    background-position-x: 55em;
    background-position-y: -10em;
    background-size: 55%;

}